/* Navbar Styling */
.navbar {
  width: 100%;
  background-color: #140d789f;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem 2.5rem; 
  box-sizing: border-box;
  /* padding:20px 0px; */
  font-family: Arial, sans-serif;
  position: fixed;     
  top: 0;              
  left: 0;
  /* z-index: 1000; */
}

.logocal{
  margin-left:10px;
  display: flexbox;
  gap:15px;
}

/* Logo Styling */
.lognav {
  font-size: 1.4rem;
  font-weight: bold;
  /* margin-left:-470px; */
}

/* Links Section */
.nav-links {
  display: flex;
  gap: 1rem;
}

.nav-item {
  color: white;
  text-decoration: none;
  font-size: 1rem;
  padding: 0.4rem 0.8rem;
}

.nav-item:hover {
  /* background-color: #333; */
  color:aquamarine;
  border-radius: 4px;
}

.nav-links button{
  background-color: transparent;
  border: 1px solid white;
  padding:8px; 
  border-radius: 10px;
  font-weight:500;
  color:white; 
}
.nav-links button:nth-child(3){
  background-color: green;
  color:white;
  font-weight:500;
}

.nav-links button:nth-child(2):hover{
  background-color: aliceblue;
  color:#140d789f;
  font-weight:500;
}
.nav-links button:nth-child(3):hover{
  background-color: rgb(5, 104, 5);
  color:white;
  font-weight:500;
}

/* Responsive Design */
@media (max-width: 600px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .nav-links {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 0.5rem;
  }

  .nav-item {
    width: 100%;
    padding: 0.6rem;
  }
}


