.card2 {
  width: 320px;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  padding: 16px;
  text-align: left;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  overflow: hidden; 
}

.card2:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.15);
}

.card2img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 10px;
}

.tag {
  display: inline-block;
  border:1px solid grey;
  font-size: 0.65rem;
  padding: 4px 10px;
  border-radius: 5px;
  margin-bottom: 8px;
}

.card2-heading {
  font-size: 1.25rem;
  font-weight: 600;
  margin: 5px 0;
  color: #333;
}

.date {
  font-size: 0.95rem;
  color: #555;
  margin: 2px 0;
}

.address {
  font-size: 0.9rem;
  color: #666;
  margin-bottom: 5px;
}

.registered {
  font-size: 0.9rem;
  color: #888;
}

.btn-card2 {
  background-color: #056313;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 10px;
  transition: background-color 0.3s ease;
  width: 100%;

}

.btn-card2:hover {
  background-color: #0b5ed7;
}


